@font-face {
  font-family: 'yrsa';
  src: url('../fonts/Yrsa-Italic-VariableFont_wght.ttf');
  font-weight: 300 700;
}
@font-face {
  font-family: 'cinzel';
  src: url('../fonts/Cinzel-VariableFont_wght.ttf');
  font-weight: 400 900;
}
