@font-face {
  font-family: "yrsa";
  src: url("../fonts/Yrsa-Italic-VariableFont_wght.ttf"), format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-VariableFont_wght.ttf") format(truetype);

  font-weight: bold;
  font-style: bold;
}
