@font-face {
  font-family: "abhaya libre";
  src: url("../fonts/AbhayaLibre-Medium-webfont.woff") format("woff"),
    font-weight;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "archistico";
  src: url("../fonts/Archistico_Bold-webfont.woff") format("woff");

  font-weight: bold;
  font-style: bold;
}
